/* This is the frs #01 stylesheet */

body {
	color: #333;
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	font: normal 0.8em/1.3em helvetica, arial, serif; 
width: 910px;
	}



	
h1 {

    height:75px; 
    text-indent:-10000px;
    overflow:hidden; 
    background:url('../img/frs_logo01.jpg') left no-repeat #FFF;
background-color: #FFF;
    padding: 10px 0px 0px 10px;
    margin: 0px;

}


#content {
margin: 0px;
padding: 0px 0px 0px 10px;
}

.page_header {
margin: 0px 0px 5px 0px;
}

#contact_details {
clear: both;
border-top: 1px dotted #333;
padding-top: 5px;
}


#footer {
background:url('../img/footer_bg.gif') top repeat #FFF;
padding: 10px;
margin: 10px 0px 0px 0px;
clear: both;
}	

#bullets {
/margin-left: 0px;
}



div.bullet {
float: left;
width: 290px;
padding-right: 10px;
margin: 10px 0px 10px 0px;
/* background: #EEE; */
}


ul {
padding: 0px;
margin: 10px 0px 0px 10px;
}


.flag {
font: bold 1.6em/1.3em helvetica, arial, serif; 
color: #777;
}
	
.page_number {
	float: left;
	}
	
.page_nav {
	float: right;
	display: inline;
	padding-left: 5px;
	}
	
#images {
	
	width: 100%;
	}
	
#images a{
	font: bold 20px/24px georgia, clarendon, times, serif;
	padding: 5px;
	background-color: #FFF;
	}
	
#images ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	clear: right;
	}
	
#images li{
	margin: 0px 0px 0px 0px;
	padding: 10px;
	border-bottom: 1px dotted #333;
	}

#images li.first_item{
	}
	
#images li.last_item{
	border: none;
	}
	
#foot ul{	
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 5px 0px;
	list-style-type: none;
	border-bottom: 1px dotted #333;
	
	}
	
#foot li{
	display: inline;
	padding: 0px 5px 0px 0px;
	margin: 0px;
	}

a{
	white-space: nowrap;
	text-decoration: none;
	color: #647DBE;
	}
	
a:hover{
	text-decoration: underline;
	}

#notice{
	margin: 0px 0px 0px 10px;
	padding: 10px;
	background-color: #FFF;

	width: 350px;

	}
	
#notice a{
	font: normal 10px/14px georgia, clarendon, times, serif; 
	padding: 0px;
	}
	
/* -------------------------------- Links Page stuff ----------------------------- */

